<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>About Us</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="70" fxFlexOffset="40px">
                <h2>Our History</h2>
                <p>With a spectacular success record and being the finest in advertising, Bookmyad offers excellent
                    classified booking service for the online platform. Employing ingenious and insightful ways for
                    bringing about customer satisfaction, the advertising agency has been instrumental in revamping the
                    whole ad booking system by taking it online.
                </p>
                <p>The agency has carved a niche for itself with regard to Newspaper ads of SME and individual
                    advertisers by giving a free hand to the customers to decide how they want to design their ads. Due
                    to our excellent co-operation, advertisers are further assured of booking their ads in premier
                    newspapers of the country including Hindustan Times, Dainik Jagran, Deccan Herald, Times of India,
                    Punjab Kesari amongst others.</p>
            </div>
            <div fxFlex="30">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Facts At a Glance</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <dl>
                            <h4>
                                <dt>Started</dt>
                            </h4>

                            <dd>16 Feb. 2030</dd>
                            <h4>
                                <dt>Major Stake Holder</dt>
                            </h4>

                            <dd>HK Fine Ads Inc.</dd>
                            <h4>
                                <dt>Last Year's Turnover</dt>
                            </h4>
                            <dd>Rs.22,250,375</dd>
                            <h4>
                                <dt>Employees</dt>
                            </h4>
                            <dd>40</dd>
                        </dl>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex>
        <mat-card>
            <blockquote>
                <h3>Creative without strategy is called ‘art.’ <br>Creative with strategy is called ‘advertising'</h3>
                <footer>-- Jef I. Richards,
                    <cite>The Wit and Wisdom of Jef I. Richards,
                        P. Pepe, Diversion Books, 2014</cite>
                </footer>
            </blockquote>
        </mat-card>
    </div>


    <div fxFlex>
        <h2>Corporate Leadership</h2>
        <div>
            <mat-list>
                <mat-list-item *ngFor="let leader of Leaders">
                    <img matListAvatar src={{leader.imgpath}} alt={{leader.name}} />
                    <h1 matLine class="text"> {{leader.name}}</h1>
                    <!-- {{leader.abbr | uppercase}} -->
                    <p matLine class="text">{{leader.designation}}</p>
                    <p matLine class="text">{{leader.description}}</p>
                </mat-list-item>
            </mat-list>


            <!-- <div fxFlex [hidden]="Leaders">
                <mat-spinner></mat-spinner>
                <h4>Loading... please wait</h4>
            </div> -->
        </div>


    </div>
</div>