<div *ngIf="!successReset">
    <mat-toolbar color="primary">
        Reset Password
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar>



    <form novalidate #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <p fxLayout="column">
                <mat-form-field width="100%">
                    <input matInput placeholder="Email" type="text" [(ngModel)]="reset.email" name="Email"
                        #username="ngModel" required />
                    <mat-error *ngIf="username.errors?.['required']">email is required </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Password" type="password" [(ngModel)]="reset.password" name="password"
                        #password="ngModel" required />
                    <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="reset.confirmPassword"
                        name="password" #password="ngModel" required />
                    <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
                </mat-form-field>


            </p>


        </mat-dialog-content>
        <div *ngIf="invalid">
            <mat-error>Kindly enter valid Data</mat-error>
        </div>
        <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit" class="background-primary text-floral-white"
                [disabled]="resetForm.form.invalid">Submit</button>
        </mat-dialog-actions>
    </form>
</div>

<div *ngIf="successReset">
    <mat-toolbar class="success">
        Password Reset Successful
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>&times;</button>
    </mat-toolbar>
    <p> Password changed.</p>
</div>