<mat-toolbar color="primary">
    Forgot Password
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form novalidate #forgotForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p fxLayout="column">
            <mat-form-field width="100%">
                <input matInput placeholder="Email" type="text" [(ngModel)]="forgot.email" name="Email"
                    #username="ngModel" required />
                <mat-error *ngIf="username.errors?.['required']">Username is required </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Security Question: BirthPlace ?" type="text"
                    [(ngModel)]="forgot.securityQuestion" name="password" #password="ngModel" required />
                <mat-error *ngIf="password.errors?.['required']">Password is required</mat-error>
            </mat-form-field>

            <!-- <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox> -->
        </p>


    </mat-dialog-content>
    <div *ngIf="invalid">
        <mat-error>Kindly enter valid Data</mat-error>
    </div>
    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" class="background-primary text-floral-white"
            [disabled]="forgotForm.form.invalid">Submit</button>
    </mat-dialog-actions>
</form>