<mat-toolbar color="accent">
    Are You sure to want to delete this ad
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div *ngIf="_loginService.loggedIn() &&_loginService.isUser()">
    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close class=blue>No</button>
        <button mat-button class=red (click)="deleteAd()">Yes</button>
    </mat-dialog-actions>
</div>

<div *ngIf="_loginService.loggedIn() &&_loginService.isAdmin()">
    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close class=blue>No</button>
        <button mat-button class=red (click)="deleteAdByAdmin()">Yes</button>
    </mat-dialog-actions>
</div>