<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3 fxLayoutAlign="center">Your Advertisements</h3>
            <hr>
        </div>
    </div>


    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let ad of advertisements">
                <mat-card class="mat-elevation-z4">

                    <mat-card-header fxLayoutAlign="center">
                        <div mat-card-avatar></div>
                        <mat-card-title>
                            <h1>{{ad.advertisementTitle | uppercase}}</h1>
                            <h3>{{ad.advertisementType | lowercase}}</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <img fxLayoutAlign="center" mat-card-image
                        [src]="baseurl+'Images/Advertisements/'+ad.advertisementImageName" alt={{ad.advertisementTitle}}
                        class="matcardimage">
                    <mat-card-content>
                        <p>{{ ad.advertisementDesc | slice:0:200 }}...
                        </p>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-button class="edit" [routerLink]="['/editad',ad.advertisementId]">EDIT</button>
                        <button mat-button class="delete" (click)="openDeleteForm(ad.advertisementId)">DELETE</button>
                    </mat-card-actions>

                </mat-card>
            </div>
        </div>
    </div>