

.content {
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 50%;
  }

  .mat-success {
    background-color: green;
    color: #fff;
}